# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
stats250/.Rproj.user/D38F07E7/sdb/prop/40D6B64B
stats250/.Rproj.user/D38F07E7/sdb/prop/58B5FF0B
stats250/.Rproj.user/D38F07E7/sdb/s-9E29CBF5/lock_file
stats250/.Rproj.user/D38F07E7/sdb/prop/42518061
stats250/.Rproj.user/D38F07E7/sdb/prop/8BCD4849
stats250/.Rproj.user/D38F07E7/sdb/prop/99A18AC9
stats250/.Rproj.user/D38F07E7/sdb/prop/9D730CBA
stats250/.Rproj.user/D38F07E7/sdb/s-9E29CBF5/6C860ED9
stats250/.Rproj.user/D38F07E7/sdb/prop/A57883B7
stats250/.Rproj.user/D38F07E7/sdb/prop/E642CABE
stats250/.Rproj.user/D38F07E7/sdb/s-9E29CBF5/5DF0C4AA
stats250/.Rproj.user/D38F07E7/sdb/prop/INDEX
